img{
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: auto;
}

#carouselExampleIndicators img{
    height: 550px;
    width: 85%;
}

#fondo{
    background-color: coral;
}

main{
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 5px;
}
